<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!-- 测试 bean -->
	<bean id="testAction" class="com.czd.ssh.TestAction">
		<property name="categoryService" ref="categoryService" />
	</bean>

	<bean id="baseAction" class="com.czd.shopping.action.BaseAction"
		scope="prototype">
		<property name="accountService" ref="accountService" />
		<property name="categoryService" ref="categoryService" />
		<property name="goodsService" ref="goodsService" />
		<property name="forderService" ref="forderService" />
		<property name="sorderService" ref="sorderService" />
		<property name="usersService" ref="usersService" />		
		<property name="onlinePayService" ref="onlinePayService" />		
		<property name="fileUploadUtil" ref="fileUploadUtil" />
		<property name="shopEmailUtil" ref="shopEmailUtil" />
	</bean>
	<bean id="accountAction" class="com.czd.shopping.action.AccountAction"
		parent="baseAction" scope="prototype" />
	<bean id="categoryAction" class="com.czd.shopping.action.CategoryAction"
		parent="baseAction" scope="prototype" />
	<bean id="goodsAction" class="com.czd.shopping.action.GoodsAction"
		parent="baseAction" scope="prototype" />
	<bean id="forderAction" class="com.czd.shopping.action.ForderAction"
		parent="baseAction" scope="prototype" />
	<bean id="sorderAction" class="com.czd.shopping.action.SorderAction"
		parent="baseAction" scope="prototype" />
	<bean id="usersAction" class="com.czd.shopping.action.UsersAction"
		parent="baseAction" scope="prototype" />

</beans>
