<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- hibernate 中的元素要注意顺序啊 -->
<hibernate-configuration>
	<session-factory>
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/shop</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>

		<!-- 连接池 -->
		<property name="c3p0.initialPoolSize">5</property>
		<property name="c3p0.minPoolSize">10</property>
		<property name="c3p0.maxPoolSize">20</property>
		<property name="c3p0.checkoutTimeout">6000</property>
		
		<property name="show_sql">true</property>

		<!-- hibernate二级缓存，默认的就是开启不过，我们需要添加对应的jar包 -->
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		
		<mapping resource="com/czd/shopping/pojo/Category.hbm.xml" />
		<mapping resource="com/czd/shopping/pojo/Account.hbm.xml" />
		<mapping resource="com/czd/shopping/pojo/Goods.hbm.xml" />
		<mapping resource="com/czd/shopping/pojo/Forder.hbm.xml" />
		<mapping resource="com/czd/shopping/pojo/Sorder.hbm.xml" />
		<mapping resource="com/czd/shopping/pojo/Status.hbm.xml" />
		<mapping resource="com/czd/shopping/pojo/Users.hbm.xml" />
		
		<!-- 让hibernate自己管理二级缓存 -->
		<class-cache usage="read-write" class="com.czd.shopping.pojo.Goods"/>
		<class-cache usage="read-write" class="com.czd.shopping.pojo.Category"/>
	</session-factory>
</hibernate-configuration>